<a href="" class="update-event"data-id='{{id}}'>Edit</a>
<a href="" class="delete-event"data-id='{{id}}'>Delete</a>

<ul>
<li>Event Title: {{title}}</li>
<li>Event Date: {{date}}</li>
<li>Location: {{location}}</li>
<li>Description: {{description}}</li>
<li>Starts: {{startTime}}</li>
<li>Ends: {{endTime}}</li>
</ul>

<form id="create-rsvp">
{{#each questions}}
{{text}}
{{#each options}}
<div>
<label>
<input type="radio" name="options" value="{{this}}">
{{this}}
</label>
</div>
{{/each}}
{{/each}}
<button type="submit">Rsvp!</button>
</form>
