
<h2>{{title}}</h2>
<p>Date: {{date}}</p>
<p>Location: {{location}}</p>
{{#if description}}
<p>Description: {{description}}</p>
{{/if}}
{{#if startTime}}
<p>Starts: {{startTime}}</p>
{{/if}}
{{#if startTime}}
<p>Ends: {{endTime}}</p>
{{/if}}

<h2>Response keys</h2>
{{#each responses}}
<p>{{@key}}</p>
  {{#each this}}
    {{#each this}}
      <p>{{@key}}: {{this}}</p>
    {{/each}}
  {{/each}}
{{/each}}

<form id="create-rsvp">
<input type="hidden" id="rsvp[_event]" name="rsvp[_event]" value="{{id}}">
{{#each questions}}
{{text}}
<input type="hidden" id="rsvp[questions][text]" name="rsvp[questions][text]" value="{{text}}">
{{#each options}}
<div>
<label>
<input type="radio" name="rsvp[questions][options]" value="{{this}}">
{{this}}
</label>
</div>
{{/each}}
{{/each}}
<button type="submit">Rsvp!</button>
</form>
