
<h2>{{title}}</h2>
<p>Date: {{date}}</p>
<p>Location: {{location}}</p>
{{#if description}}
<p>Description: {{description}}</p>
{{/if}}
{{#if startTime}}
<p>Starts: {{startTime}}</p>
{{/if}}
{{#if startTime}}
<p>Ends: {{endTime}}</p>
{{/if}}

<form id="create-rsvp" class="create-rsvp">
<input type="hidden" id="rsvp[_event]" name="rsvp[_event]" value="{{id}}">
{{#each questions}}
<h2>{{text}}</h2>
<input type="hidden" id="rsvp[questions][text]" name="rsvp[questions][text]" value="{{text}}">
{{#each options}}
<div>
<label>
<input type="radio" name="rsvp[questions][options]" value="{{this}}">
{{this}}
</label>
</div>
{{/each}}
{{/each}}
<button type="submit" class="btn btn-default">RSVP!</button>
</form>

<h2>RSVPs so far</h2>
<div class="event-rsvps">
  {{#each responses}}
  <h3>{{@key}}</h3>
    {{#each this}}
      {{#each this}}
        <p><strong>{{@key}}:</strong> {{this}}</p>
      {{/each}}
    {{/each}}
  {{/each}}
</div>
