<a href="" class="update-rsvp" data-id='{{_event}}'>Edit</a>


<h2>{{title}}</h2>
<p>Date: {{date}}</p>
<p>Location: {{location}}</p>
{{#if description}}
<p>Description: {{description}}</p>
{{/if}}
{{#if startTime}}
<p>Starts {{startTime}}</p>
{{/if}}
{{#if endTime}}
<p>Ends {{endTime}}</p>
{{/if}}
{{#each questions}}
<p>{{text}}</p>
<p>{{options}}</p>

{{/each}}
