<a href="" class="update-rsvp" data-id='{{_event}}'>Edit</a>


<h3>{{title}}</h3>
<p>Event Date: {{date}}</p>
<p>Location: {{location}}</p>
<p>Description: {{description}}</p>
<p>Starts {{startTime}}</p>
<p>Ends {{endTime}}</p>

{{#each questions}}
<p>{{text}}</p>
<p>{{options}}</p>

{{/each}}


{{#if description}}

{{/if}}
