<form id="update-event-form">
  <div>
    <label for="event[title]">Event Name</label>
    <input name="event[title]" id="event[title]" type="text" value="{{title}}" required>
  </div>
  <div>
    <label for="event[location]">Location</label>
    <input name="event[location]" id="event[location]" type="text" value="{{location}}" required>
  </div>
  <div>
    <label for="event[date]">Date</label>
    <input name="event[date]" id="event[date]" type="date" value="{{date}}" required>
  </div>
  <div>
    <label for="event[startTime]">Starts</label>
    <input name="event[startTime]" id="event[startTime]" type="time" value="{{startTime}}">
  </div>
  <div>
    <label for="event[endTime]">Ends</label>
    <input name="event[endTime]" id="event[endTime]" type="time" value="{{endTime}}">
  </div>
  <div>
    <label for="event[description]">Description</label>
    <input name="event[description]" id="event[description]" type="text" value="{{description}}">
    <input type="hidden" id="event[_id]" name="event[_id]" value={{_id}}>
  </div>
  <p><button type="submit">Update Event</button></p>
</form>
