<a href="" class="update-event"data-id='{{id}}'>Edit</a>
<a href="" class="delete-event"data-id='{{id}}'>Delete</a>

<h2>{{title}}</h2>
<p>Date: {{date}}</p>
<p>Location: {{location}}</p>
{{#if description}}
<p>Description: {{description}}</p>
{{/if}}
{{#if startTime}}
<p>Starts: {{startTime}}</p>
{{/if}}
{{#if startTime}}
<p>Ends: {{endTime}}</p>
{{/if}}

<h2>Attendees</h2>
{{#each responses}}
<p>{{@key}}</p>
  {{#each this}}
    {{#each this}}
      <p>{{@key}}: {{this}}</p>
    {{/each}}
  {{/each}}
{{/each}}
