<a href="" class="update-event"data-id='{{id}}'>Edit</a>
<a href="" class="delete-event"data-id='{{id}}'>Delete</a>

<ul>
<li>Event Title: {{title}}</li>
<li>Event Date: {{date}}</li>
<li>Location: {{location}}</li>
<li>Description: {{description}}</li>
<li>Starts: {{startTime}}</li>
<li>Ends: {{endTime}}</li>
</ul>

<h2>Attendees</h2>
{{#each responses}}
<p>{{@key}}</p>
  {{#each this}}
    {{#each this}}
      <p>{{@key}}: {{this}}</p>
    {{/each}}
  {{/each}}
{{/each}}
